.ico{
    // &.type_tel{
    //     display:inline-block;
    //     width:15px;
    //     height:15px;
    //     background-image: url("data:image/svg+xml,%0A%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5063 8.9875C11.7375 8.9875 10.9937 8.8625 10.3 8.6375C10.0813 8.5625 9.8375 8.61875 9.66875 8.7875L8.6875 10.0188C6.91875 9.175 5.2625 7.58125 4.38125 5.75L5.6 4.7125C5.76875 4.5375 5.81875 4.29375 5.75 4.075C5.51875 3.38125 5.4 2.6375 5.4 1.86875C5.4 1.53125 5.11875 1.25 4.78125 1.25H2.61875C2.28125 1.25 1.875 1.4 1.875 1.86875C1.875 7.675 6.70625 12.5 12.5063 12.5C12.95 12.5 13.125 12.1062 13.125 11.7625V9.60625C13.125 9.26875 12.8438 8.9875 12.5063 8.9875Z' fill='%23D7DCE5'/%3E%3C/svg%3E%0A");
    // }
    &.type_time {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4957 1.25C4.0457 1.25 1.25195 4.05 1.25195 7.5C1.25195 10.95 4.0457 13.75 7.4957 13.75C10.952 13.75 13.752 10.95 13.752 7.5C13.752 4.05 10.952 1.25 7.4957 1.25ZM7.50195 12.5C4.73945 12.5 2.50195 10.2625 2.50195 7.5C2.50195 4.7375 4.73945 2.5 7.50195 2.5C10.2645 2.5 12.502 4.7375 12.502 7.5C12.502 10.2625 10.2645 12.5 7.50195 12.5Z' fill='%23D7DCE5'/%3E%3Cpath d='M7.81445 4.375H6.87695V8.125L10.1582 10.0938L10.627 9.325L7.81445 7.65625V4.375Z' fill='%23D7DCE5'/%3E%3C/svg%3E%0A");
    }
    &.type_amens {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.498 1.875H2.49805V8.125C2.49805 9.50625 3.6168 10.625 4.99805 10.625H8.74805C10.1293 10.625 11.248 9.50625 11.248 8.125V6.25H12.498C13.1918 6.25 13.748 5.6875 13.748 5V3.125C13.748 2.43125 13.1918 1.875 12.498 1.875ZM12.498 5H11.248V3.125H12.498V5ZM2.49805 11.875H12.498V13.125H2.49805V11.875Z' fill='%23D7DCE5'/%3E%3C/svg%3E%0A");
    }
}